body{
	font-family: 'Titillium Web', sans-serif;
	background: #c1bdba;
	color: white;
	font-weight: 300;
}


.container{
	padding: 10px;
	background: #25303c;
	margin: auto;
	width: 90%;
}


table{
	font-size: 30px;
	padding: 5px;
	border-collapse: collapse;
}
tr{
	padding: 9px;
	border: 2px solid white;
}


th, td{
	text-align: left;
	padding: 5px;
}

th{
	min-width: 200px;
}


.withLTO{
	background-color: #800000;
}



td{
	padding: 9px;
}


