body{
	font-family: 'Titillium Web', sans-serif;
	background: #c1bdba;
	color: white;
}


.container{
	padding: 10px;
	background: #25303c;
	margin: auto;
	width: 90%;
}


table{
	padding: 5px;
}



th, td{
	text-align: left;
	padding: 5px;
}

th{
	min-width: 150px;
}


td{
	padding: 9px;
}


